*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    text-shadow: 1px 1px rgb(196, 154, 196); 
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(196, 154, 196);

}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0..5fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    height: 500px;
    width: 400px;
    border: 1px solid white;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 20px 20px 30% 20px;
    box-shadow: 5px 5px rgb(109, 58, 109);
}
.item-1{
    font-size: 25px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: auto;
    width: auto;
    grid-row:1/3;
    grid-column:1/3;
    color: hsl(0, 1%, 44%);
    padding-right: 10px;
}
.day{
    font-size:  32px;
    height: 80px;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1px solid hsl(0, 0%, 86%);
    padding-left: 10px;
}
.item-2{
    font-size: 25px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: auto;
    width: auto;
    grid-row:1/3;
    grid-column:3/5;
    color: hsl(0, 1%, 44%);
    padding-right: 10px;


}
.month{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size:  32px;
    height: 80px;
    border: 1px solid hsl(0, 0%, 86%);
    padding-left: 10px;

}
.item-3{
    font-size: 25px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: auto;
    width: auto;
    grid-row:1/3;
    grid-column:5/7;
    color: hsl(0, 1%, 44%);
    padding-right: 10px;


}
.year{
    font-size:  32px;
    height: 80px;
    border: 1px solid hsl(0, 0%, 86%);
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 10px;

}.item-4{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row:3/4;
    grid-column:1/7;
    height: auto;
}
hr{
    width: auto; text-align: left; margin: 0;height:1px;
}
.item-5{
    font-size: 35px;
    color: hsl(0, 0%, 8%);
    font-weight: bold;
    grid-row:4/5;
    grid-column:1/7;
}
.curryear{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    color: hsl(259, 100%, 65%);
}
.item-6{
    font-size: 35px;
    color: hsl(0, 0%, 8%);
    font-weight: bold;

    grid-row:5/6;
    grid-column:1/7;
}
.currmonth{
    font-weight:900;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: hsl(259, 100%, 65%);
}
.item-7{
    font-size: 35px;
    color: hsl(0, 0%, 8%);
    font-weight: bold;

    grid-row:6/7;
    grid-column:1/7;
}
.currday{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    color: hsl(259, 100%, 65%);
}







